.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  .content {
    width: fit-content;
    margin: auto;
    img {
      margin-bottom: 24px;
    }
    .actions {
      margin-top: 24px;
      width: fit-content;
      margin-left: auto;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: auto auto;
    }
  }
}
