<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ action }} {{ type }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="container" style="padding: 42px; text-align: right; margin-bottom: 24px;">
    <ion-item>
      <ion-label position="fixed">Amount</ion-label>
      <ion-input type="number" [formControl]="value"></ion-input>
    </ion-item>
      <ion-button [disabled]="value.invalid" (click)="submit()">Submit</ion-button>
  </div>

</ion-content>